/* Updated Styles for the container div */
#loggedInDiv {
  margin: 20px; /* Add margin to provide spacing */
  position: absolute; /* Position it absolutely for the top-left corner */
  top: 0; /* Align to the top of the screen */
  left: 0; /* Align to the left of the screen */
  padding: 20px; /* Add padding to provide spacing for the button */
}

/* Styles for the user name span */
#userName {
  font-size: 18px;
  font-weight: bold;
  color: #fefefe;
  margin-bottom: 10px;
}

/* Styles for the logout button */
#addTask {
  background-color: #ff3f65c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Styles for the task form remain the same */
.task-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
