/* Styles for the container div */
/* Styles for the container div */
#loggedInDiv {
  text-align: center; /* Center the content horizontally */
  margin: 20px; /* Add margin to provide spacing */
}


  
  /* Styles for the user name span */
  #userName {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #fefefe; /* Change the text color to your preference */
    margin-bottom: 10px; /* Add spacing below the user name */
  }
  
  /* Styles for the logout button */
  #addExp {
    background-color: #ff3f65c7; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for button size */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background-color 0.3s; /* Add a subtle hover effect */
    margin-top: 10px; /* Add spacing above the button */
  }

  #addTask{
    background-color: #ff3f65c7; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for button size */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background-color 0.3s; /* Add a subtle hover effect */
    margin-top: 10px; /* Add spacing above the button */
  }
  
  #logoutButton:hover {
    background-color: #bd273d; /* Darker background color on hover */
  }
  
  #topbar {
    background-color: #111122; 
    height: 60px; 
    width: 70%; 
    position: absolute; 
    top: 14%; 
    left: 15%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .main-task{
    width: 200px;
    height: 50px;
    background-color: #3498db;
    border-radius: 5px;
    margin-bottom: 10px;
    
    
  }

