/* Background animation container */
/*
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
  background-image: url("/src/images/background3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 170%; 
  height: 120%;
}

.background-container::after {
  content: "";
  background-image: url("/src/images/background3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 170%; 
  height: 120%;
  animation: backgroundAnimation 800s linear infinite;
  z-index: 0;
}
// This is the old background, Julian adding in a new background.
*/ 
* {
  box-sizing: border-box; 
}

.background-container{
  background-color: #555577;
 /* background-image: linear-gradient(to right, black, gray );*/

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, #222233, #555577);
  background-size: 100% 100%;
  position: relative;
}


/* Reset some default styles */
body, h1 {
  margin: 0;
  padding: 0;
}

#loginDiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit; /* Inherit the gradient from the body */
  filter: blur(10px); /* Add a slight blur */ 
  border-radius: 10px; 
}

#loginDiv {
  box-sizing: border-box;  /* ensure padding and borders are included in width */
  text-align: center;
  padding: 15px;
  background-color: #111122;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Increase z-index */
  width: 400px;
  position: relative; /* Ensure z-index takes effect */
  overflow: hidden;
}


.login-form {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding: 15px 15px;
}

.form-title {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: white;
  
}

.form-group {
  margin-bottom: 10px;
}

.intermediary-container {
  /*background-color: transparent; //Remove background color */
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;
  top: 20%; 
  left: 50%;
  transform: translate(-50%, -50%);*/
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.login-button {
  background-color: #FF6B6B; /* Salmon pink color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width:100%;
  transition: background-color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-button:hover {
  background-color: #FF4848; /* Slightly darker salmon pink on hover */
}


.login-message {
  margin-top: 10px;
  color: #777;
  font-family: 'Roboto', 'Arial', sans-serif;
}
