.add-task .btn-div {
    text-align: center;
}

.add-task .btn {
    background-color: #1E90FF; /* Changed to a more neutral color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}


.add-task .btn:hover {
    background-color: #4169E1; /* A slightly darker shade for hover state */
}


/* Add this class to blur the background */
.blurred-background {
    filter: blur(8px);
  }
  
  /* Add this class to the modal overlay to create an animation */
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background */
    animation: fadeIn 0.3s ease-in-out; /* Animation for fade in */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Change text color to white for the heading and cross icon */
  .modal .modal-main h1,
  .modal .cross-icon {
    color: white;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222233; /* Dark blue, non-transparent */
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
}
  /*
Old modal 11/20/23
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
}*/

.modal .modal-main {
    text-align: center;
    padding-bottom: 20px;
}

.modal .cross-icon {
    position: absolute;
    top: 10px; /* Adjust to move the icon down from the top of the modal */
    right: 10px; /* Adjust to move the icon left from the right side of the modal */
    cursor: pointer;
  }

.modal .task-form input,
.modal .task-form select {
    /* Combined styles for input and select */
    border: 2px solid #1E90FF; /* Border color changed to match button */
    padding: 12px; /* Increased padding for better touch area */
    width: 100%;
    margin: 5px 0px;
    border: black 1px solid;
}

.modal .task-form button {
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #32CD32; /* Changed to a 'success' green color */
    padding: 12px 25px; /* Increased padding for a larger button */
    font-weight: 600; /* Made text bolder */
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal .task-form button:hover {
    background-color: #228B22; /* Darker green for hover state */
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 80vw;
        padding: 15px; /* Increased padding for smaller screens */
    }
}