.add-task {
    /* margin: 0; */
}

.add-task .btn-div {
    text-align: center;
}

.add-task .btn {
    background-color: rgb(183, 31, 31);
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 8px 15vw;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 20px;
}

.add-task .btn:hover {
    background-color: rgb(130, 33, 33);
}

/* CSS for the Modal component */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    width: 50vw;
    font-family: 'Montserrat', sans-serif;

}

.modal .modal-main {
    text-align: center;
    padding-bottom: 20px;
}

.modal .cross-icon {
    float: right;
    cursor: pointer;
    transform: translate(10px, -10px);
}

.modal .task-form input {
    width: 100%;
    margin: 5px 0px;
    border: black 1px solid;
    padding: 8px 3px;
    border-radius: 5px;
}

.modal .task-form select {
    width: 100%;
    margin: 5px 0px;
    border: black 1px solid;
    padding: 8px 3px;
    border-radius: 5px;
}

.modal .task-form button {
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    background-color: rgb(183, 31, 31);
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal .task-form button:hover {
    background-color: rgb(130, 33, 33);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 80vw;
    }
}