.skill {
    width: 160px;
    height: 160px;
    position: absolute; /* Changed to absolute positioning */
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add relative here to contain the absolute svg */
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 1.5em;
    text-align: center;
}

circle {
    transition: stroke-dashoffset 1s ease-out;
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px; /* Consider reducing this if the circle appears cut off */
}

svg {
    position: absolute; /* Added position absolute */
    top: 0;
    left: 0;
    transform: translate(-20px, -20px); /* Adjust this if needed to center the SVG */
}
