@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    align-items: start;
    color: #fff;
    margin-top: 0; /* Adjust or remove the top margin */
    padding-top: 0; /* Reduce or remove the top padding */
    margin: 20px 2vw;
    padding: 20px 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* New CSS for the left section containing the CircularProgressBar */
.home-header .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    margin-right: 20px;
    z-index: 10; /* Make sure the progress bar is above other elements */
}

.home-header .center-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the start of the container */
    align-items: start; /* Align items to the start (left side) of the container */
    padding-top: 0; /* Reset padding */
}

.home-header .btn-div {
    position: absolute; /* Change from flex to absolute positioning */
    top: 20px; /* Position it 20px from the top */
    right: 2vw; /* Position it 2vw from the right */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Additional styles for level information */
.home-header .level-info {
    font-size: 20px; /* Adjust as you see fit */
    margin-top: 10px; /* Space from tasks info */
}
.home-header .task-info {
    font-family: 'Roboto', sans-serif; /* This is the new font */
    font-size: 20px; /* Adjust font size as needed */
    margin-top: 10px; /* Add some space between the title and task info */
    margin-left: 20px;
}

.home-header .title {
    margin-top: 0; /* Reset margin */
    padding-top: 20px; /* Adjust padding to align with Logout button */
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.home-header .btn {
    position: absolute;
    top: 20px; /* Ensure this matches the padding-top of the title */
    right: 2vw;

    background-color: rgb(183, 31, 31);
    color: #fff;
    border: none;
    border-radius: 5px; /* Slightly rounded corners for the button */
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-header .btn:hover {
    background-color: rgb(130, 33, 33);
}

/*
// Previous (stable) css from 11/15/23
.home-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 20px 2vw;
}

.home-header .title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.home-header .btn {
    background-color: rgb(183, 31, 31);
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-header .btn:hover {
    background-color: rgb(130, 33, 33);
    cursor: pointer;
}*/
