/* Background animation container */
/* 
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
  background-image: url("/src/images/background3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 170%; 
  height: 120%;
}

.background-container::after {
  content: "";
  background-image: url("/src/images/background3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 170%; 
  height: 120%;
  animation: backgroundAnimation 800s linear infinite;
  z-index: 0;
}
// This is the old background, Julian adding in a new background.
*/
* {
  box-sizing: border-box;
}

.background-container {
  /* background-color: #555577;*/
  /*background-image: linear-gradient(to right, #222233, #555577);*/

  /* &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
}

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */


#loginDiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
  filter: blur(5px);
  border-radius: 10px;
  margin: -1px;
  /* Adjust the pseudo-element size by 1 pixel */
}


#loginDiv {
  box-sizing: border-box;
  /* ensure padding and borders are included in width */
  text-align: center;
  padding: 15px;
  background-color: #111122;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
  /* Increase z-index */
  width: 400px;
  position: relative;
  /* Ensure z-index takes effect */
  overflow: hidden;
}



.login-form {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding: 15px 15px;
}

.form-title {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 10px;
}

.intermediary-container {
  /*background-color: transparent; //Remove background color */
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;
  top: 20%; 
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.login-form input[type="text"],
.forget-pass-div input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.login-button {
  background-color: #FF6B6B;
  /* Salmon pink color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-button:hover {
  background-color: #FF4848;
  /* Slightly darker salmon pink on hover */
}


.login-message {
  margin-top: 10px;
  color: #777;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.verify-box {
  color: white;
}

.verify-btn {
  margin-top: 10px;
}

.verify-box h2 {
  color: #FF4848;
}

.forget-para-div {}

.forget-para {
  color: white;
  width: fit-content;
  float: right;
}

.forget-para:hover {
  cursor: pointer;
  opacity: 0.8;
}

.forget-pass-div {
  box-sizing: border-box;
  /* ensure padding and borders are included in width */
  text-align: center;
  padding: 15px;
  padding-bottom: 50px;
  background-color: #111122;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
  /* Increase z-index */
  width: 400px;
  position: relative;
  /* Ensure z-index takes effect */
  overflow: hidden;
  color: white;
}

.forget-pass-div input {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
}

.forget-pass-div .submit-btn {
  background-color: #FF6B6B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
}

.forget-pass-div .submit-btn:hover {
  background-color: #FF4848;
}