.Reset-pass input {
    width: 98%;
    margin: 5px 2px;
    padding: 5px 2px;
}
.Reset-pass .submit-btn {
    padding: 5px 20px;
    margin-top: 10px;
}
.Reset-pass .btn-div {
    text-align: center;
}