body {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #555577;
  background-image: linear-gradient(to right, #222233, #555577);
  background-size: 100% 100%;
  position: relative;
}

/*
.modal, .modal1 {
  position: relative; 
}*/

/*
.cross-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 25px; 
}*/