body {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #555577;
  background-image: linear-gradient(to right, #222233, #555577);
  background-size: 100% 100%;
  position: relative;
}

.modal, .modal1 {
  position: relative; /* This makes sure that the child absolute positioning is relative to the modal */
}

.cross-icon {
  position: absolute;
  top: 0; /* Adjust to align with the top edge of the modal */
  right: 0; /* Adjust to align with the right edge of the modal */
  margin-top: 10px; /* Adjust to give some space from the top */
  margin-right: 10px; /* Adjust to give some space from the right */
  cursor: pointer;
}